@model Addresses.BOL.SubdivisionDTO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SubdivisionDTO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SubdivisionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubdivisionId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubdivisionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubdivisionName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SubdivisionId}) |
    @Html.ActionLink("Back to List", "Index")
</p>
